@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: #f0efee;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(109, 244, 127);
}
a:visited {
  color: rgb(124, 48, 194);
}

.ava {
  width: 300px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.ava2 {
  width: 300px;

  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info p {
  color: green;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

.info h1 {
  background: #576c9d;

  padding: 70px;
  border-radius: 15%;
  border: 10%;

  color: rgb(245, 179, 37);
}

.memb {
  background: #97c7b0;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.memb td {
  width: 100px;
}

.container {
  max-width: 100%;
  width: 60%;
  margin: auto;
}

.bg-yellow {
  background: #826046;
}

.bg-loh {
  background: #e4975c;
}
/* .bg-green {
  background: #918d87;
} */
.bg-red {
  background: #ab9090;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: rgb(27, 37, 142);
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(1) {
  color: #576c9d;
}

/* .table tr:nth-child(odd) {
  text-decoration: none;
} */

.wopros h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #080808;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 3pxpx solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.btn {
  background: #000;
  padding: 15px 20px;
  color: white;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* .position {
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
}

.box {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 50px;
  width: 50px;
  height: 50px;
  background: lightcoral;
} */
